[Desktop Entry]
Type=Application
Name=quicklist
Icon=icon-launcher-gallery
Exec=invoker --type=j -s /opt/sdk/bin/quicklist
Comment=Sailfish UI application


